{% extends "core/jqm-page.html" %}
{% load thumbnail %}

{% block title %}Sightings{% endblock %}
{% block class %}sightings-page{% endblock %}

{% block page %}

    <div data-role="content" class="at-content" role="main">
        <div data-role="navbar">
            <ul>
                <li><a  href="{% url 'sightings:map' %}">Map view</a></li>
                <li><a  class="ui-btn-active ui-state-persist" href="{% url 'sightings:list' %}">List View</a></li>
            </ul>
        </div><!-- /navbar -->
        <div class="sightings-wrapper">
            <div class="list-view-wrapper sightings-view-wrapper">
                <ul data-role="listview" data-inset="true" class="sightings-list" data-split-icon="alert">
                    {% for tree in object_list|slice:":20" %}
                    <li {% if not tree.tag_number %}class="untagged"{% endif %}>
                        <a href="{{ tree.get_absolute_url }}">
                            {% thumbnail tree.display_sighting.image IMG_THUMB crop='center' as thmb %}
                            <img src="{{ thmb.url }}" class="ui-li-thumb" />
                            {% endthumbnail %}
                            
                            <h2>Tag: {% if tree.tag_number %}<span class="tag-number">#{{ tree.tag_number }}</span>{% else %}Untagged!{% endif %}
                            
                            </h2>
                            <p>Last updated: {{ tree.sighting_set.latest.created }}</p>
                            {% if tree.flagged %}
                            <p class="flagged-tree-label">This sighting has been reported.</p>
                            {% endif %}
                        </a>                        
                    </li>
                    {% endfor %}
                </ul><!--//sightings-list-->

            </div><!--//list-view-wrapper-->
        </div><!--//sightings-wrapper-->
    </div><!--//at-content-->
    {% include 'sightings/report.html' %}

{% endblock page %}


