{% extends "core/jqm-page.html" %}
{% load thumbnail %}

{% block title %}My Tags{% endblock %}
{% block class %}my-tags-page{% endblock %}

{% block page %}

        <div data-role="content" class="at-content" role="main">
            <div class="sightings-wrapper ">
                <div class="my-tags-wrapper sightings-view-wrapper ui-texture-wrapper">
                    <ul data-role="listview" data-inset="true" class="my-tags-list" >
                        {% for tree in object_list %}
                        {% with tree.display_sighting as sighting %}
                        <li class="{% if tree.tag_number %}tagged{% else %}untagged{% endif %}">
                            {% if tree.tag_number %}<a href="{{ tree.get_absolute_url }}">{% endif %}
                                {% thumbnail tree.display_sighting.image '150x150' crop='center' as thmb %}
                                <img src="{{ thmb.url }}" />
                                {% endthumbnail %}
                                {% if tree.tag_number %}
                                <h2>Tag: <span class="tag-number">#{{ tree.tag_number }}</span></h2>
                                {% else %}
                                <h2>Untagged tree</h2>
                                <p>
                                    Tagging a tree will allow other people to monitor it's health.
                                    <a href="{% url 'store:tagpacks' %}">Get a tagging pack</a>
                                    and then
                                    <a href="{% url 'sightings:claim' tree.id %}">claim this tree</a>.
                                </p>
                                {% endif %}

                                {% if tree.tag_number %}
                                <p>Last updated: {{ tree.sighting_set.latest.created|date:"F j, Y, f A" }}</p>
                                {% endif %}

                            {% if tree.tag_number %}</a>{% endif %}
                        </li>
                        {% endwith %}
                        {% endfor %}
                    </ul><!--//sightings-list-->
                    <div class="cta-btn-wrapper">
                        <a class="add-tree-button" href="submit-sighting.html" data-role="button" data-icon="plus" >Tag another tree</a>
                    </div>

                    <div data-role="popup" id="auth" class="ui-content">
                        <p>You need to log in to view the untagged tree.</p>
                        <div class="cta-btn-wrapper">
                            <a href="login.html" data-role="button" data-inline="true" data-mini="true">Log in</a>
                        </div><!--//cta-btn-wrapper-->
                        <a href="#" class="cancel-button" data-role="button" data-rel="back" data-inline="true" data-mini="true">Cancel</a>
                    </div><!--//#auth-->

                </div><!--//my-tags-wrapper-->
            </div><!--//sightings-wrapper-->
        </div><!--//at-content -->

{% endblock page %}
