<div class="ui-popup-container pop in ui-popup-active" id="popupDialog-popup" style="max-width: 1117px; top: 702px; left: 395.5px;" tabindex="0">
    <div data-role="popup" id="popupDialog" data-overlay-theme="a"
        data-theme="c" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-c ui-overlay-shadow"
        aria-disabled="false" data-disabled="false"
        data-shadow="true" data-corners="true" data-transition="none"
        data-position-to="origin">
        <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
            <h1 class="ui-title" role="heading" aria-level="1">Report<span class="dialog-flag-type"></span></h1>
        </div>
        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content ui-body-d" role="main">
            <h3 class="ui-title">Are you sure you want to report this<span class="dialog-flag-type"></span>?</h3>
            <p>After reporting, the request may be reviewed before removing content.</p>
            <a href="#" data-role="button" data-inline="true"
                data-rel="back" data-theme="c" data-corners="true" data-shadow="true"
                data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-btn-inline">
                <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">
                        Cancel
                    </span>
                </span>
            </a>
            <a href="#" data-role="button" data-inline="true" id="send-report"
                data-rel="back" data-transition="flow" data-theme="b" data-corners="true"
                data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-b">
                <span class="ui-btn-inner ui-btn-corner-all">
                    <span class="ui-btn-text">
                        Report
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>
