 <div data-role="popup" id="popupDialog" class="ui-content">
        <h2>Report<span class="dialog-flag-type"></span></h2>  
        <div class="content-wrapper" >     
            <p><strong>Are you sure you want to report this<span class="dialog-flag-type"></span>?</strong></p>
            <p>After reporting, the request may be reviewed before removing content.</p>
        </div>
        <div class="cta-btn-wrapper">
        <a href="#" id="send-report" data-theme="a" data-role="button" data-inline="true" data-mini="true" data-rel="back" data-transition="flow"  data-wrapperels="span" >Report</a>
        </div>
        <a href="#" data-role="button" data-theme="a" data-inline="true" data-mini="true" data-rel="back" data-wrapperels="span">Cancel</a>       
</div>
