{% extends "core/jqm-page.html" %}

{% load manifesto %}
{% load ashtag %}
{% block manifest %}manifest="{% manifest_url %}"{% endblock %}
{% block title %}Submit a Sighting{% endblock %}
{% block class %}submit-sighting-page{% endblock %}
{% block id %}submit-sighting-page{% endblock %}

{% block page %}
            
    <div data-role="content" class="at-content" role="main">
        <form class="form submit-sighting-form ui-shadow" action="{% url 'sightings:submit' %}" method="post" data-ajax="false" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-intro">
                <p>
                    Need help tagging a tree for the first time? 
                    <a href="{% url 'public:tagging-video' %}">Watch our video</a> for a step-by-step guide.
                </p>
            </div>
            {% if not request.user.is_authenticated %}
            <div class="form-row">
                <label for="email" class="ui-input-text">Email Address</label>
                <input class="email" type="email"
                    name="creator_email" id="id_creator_email"
                    value="{{ form.creator_email.value }}" placeholder="Enter your email"
                    required aria-required="true" />
            </div><!--//form-row-->
            {% endif %}
            <div class="form-row{% if form.errors.tag_number %} errors{% endif %}">
                {{ form.errors.tag_number }}
                <label for="id_tag_number">Tag Number (if present)</label>
                <input class="tag-number" type="text" name="tag_number"
                    pattern="[\d]{5}"
                    title="Tag numbers are five digits"
                    x-moz-errormessage="Tag numbers are five digits"
                    id="id_tag_number" placeholder="eg. 12345" value="{{ form.tag_number.value }}" />
            </div><!--//form-row-->
            <div class="form-row{% if form.errors.image %} errors{% endif %}">
                {{ form.errors.image }}
                <label for="id_image">Select a photo</label>
                <input id="id_image" type="file" name="image" single 
                    required aria-required="true" />
                <span class="help-text">
                    <em>Have multiple photos?</em> Just submit a sighting for each.<br />
                    <em>Need help identifying ash trees?</em> See our <a href="{% url 'public:guide' %}">identification guide</a>.</span>
            </div><!--//form-row-->
            
            <div class="form-row{% if form.errors.location %} errors{% endif %}">
                {{ form.errors.location }}
                <label for="id_location" class="ui-input-text">Tree location</label>
                <span class="help-text">Drag the pin (or click elsewhere) to move the location.
                The more accurately you position the pin, the easier it will be for others to find the tree again later.</span>
                <div class="map-wrapper">
                    <div id="map_canvas" class="map"></div>
                    <div class="offline-msg">Map not available when offline</div>
                </div>
                <input type="hidden" name="location" id="id_location" value="{{ form.location.value }}" />
            </div>
            
            <div class="form-row{% if form.errors.disease_state %} errors{% endif %}">
                <fieldset data-role="controlgroup">
                    {{ form.errors.disease_state }}
                    <legend>In your opinion, how likely is this tree to have Ash Dieback Disease?</legend>
                    <input type="radio" name="disease_state"
                        id="id_disease_state_uncertain" value=""
                        {% if form.disease_state.value == "" or form.disease_state.value == None %}checked="checked"{% endif %} />
                    <label for="id_disease_state_uncertain">Uncertain / I don't know</label>
        
                    <input type="radio" name="disease_state"
                        id="id_disease_state_likely" value="True"
                        {% if form.disease_state.value == 'True' %}checked="checked"{% endif %}
                        />
                    <label for="id_disease_state_likely">Likely</label>
        
                    <input type="radio" name="disease_state"
                        id="id_disease_state_unlikely" value="False"
                        {% if form.disease_state.value == 'False' %}checked="checked"{% endif %}
                        />
                    <label for="id_disease_state_unlikely">Unlikely</label>
                </fieldset>
            </div><!--//form-row-->
            <span class="help-text">
                We forward likely cases of ash dieback to the Forestry Commission for further review and verification. See their <a href="http://www.forestry.gov.uk/chalara">Chalara page</a> or <a href="http://www.forestry.gov.uk/forestry/hcou-4ubhr3">contact them</a> if you have specific concerns.
            </span>

            <div role="main" class="ui-content survey-wrapper">
                <div data-role="collapsible" data-collapsed="true">
                    <h3>Living Ash Project survey</h3>
                    <p>
                        <p>Thank you for agreeing to answer a few more questions. We are working with scientists who are interested in ash trees that are tolerant (to some degree) to Chalara ash dieback. They are most interested in larger trees but any tree can be surveyed. They are particularly keen to survey ash trees in every corner of Britain, because the genetics of ash trees vary across the country. Ideally, the trees selected need to be surveyed every year for at least three years, so that a detailed picture of their health is built up. Ultimately, trees that appear to have some tolerance to Chalara ash dieback will be sampled by taking cuttings, and will enter a programme aiming to breed resistant trees for the future of ash trees in Britain.</p>
                        <p><em>All questions are optional</em></p>
                    </p>

                    <div class="survey-question survey-if-likely">
                        <fieldset data-role="controlgroup">
                            <legend>Can you see any disease symptoms?</legend>
                            <p>Tick any that apply</p>

                            {% for k, val in symptoms %}
                            <input type="checkbox" name="survey_symptoms" id="id_survey_symptoms_{{ forloop.counter }}" value="{{ k }}" />
                            <label for="id_survey_symptoms_{{ forloop.counter }}">{{ val }}</label>
                            {% endfor %}
                        </fieldset>
                    </div>


                    <div class="survey-question">
                        <fieldset data-role="controlgroup">
                            <legend>How big is the tree?</legend>
                            <p><em>Large trees appear to be more tolerant to Chalara ash dieback.</em></p>
                            <p><strong>Estimate the <em>diameter</em> of the tree’s trunk</strong></p>

                            {% for k, val in tree_sizes %}
                            <input type="radio" name="survey_tree_size" id="id_survey_tree_size_{{ forloop.counter }}" value="{{ k }}" />
                            <label for="id_survey_tree_size_{{ forloop.counter }}">{{ val }}</label>
                            {% endfor %}

                        </fieldset>
                    </div>

                    <div class="survey-question">
                        <fieldset data-role="controlgroup">
                            <legend>Describe the environment where your tree located</legend>
                            <p>The environment where the tree is growing can affect the chances of it being exposed to the disease, and affects its general growth characteristics, which are also of interest to scientists.</p>

                            {% for k, val in environments %}
                            <input type="radio" name="survey_environment" id="id_survey_environment_{{ forloop.counter }}" value="{{ k }}" />
                            <label for="id_survey_environment_{{ forloop.counter }}">{{ val }}</label>
                            {% endfor %}

                        </fieldset>
                    </div>

                    <div class="survey-question">
                        <fieldset data-role="controlgroup">
                            <legend>Are other nearby ash trees visible from your tree?</legend>
                            <p>The presence of ash trees nearby increases the likelihood that your tree may be exposed to the disease.</p>

                            {% for k, val in num_nearby_trees %}
                            <input type="radio" name="survey_num_nearby_trees" id="id_survey_num_nearby_trees_{{ forloop.counter }}" value="{{ k }}" />
                            <label for="id_survey_num_nearby_trees_{{ forloop.counter }}">{{ val }}</label>
                            {% endfor %}

                        </fieldset>
                    </div>


                    <div class="survey-question">
                        <fieldset data-role="controlgroup">
                            <legend>If another ash tree is nearby, please visit it and tell us:</legend>
                            <p>Scientists are interested in this question because if your main tree appears healthy, yet nearby there are diseased trees, this increases the likelihood that your main tree is tolerant to the disease.</p>
                            <p><strong>How likely is this tree to have Chalara ash dieback?</strong></p>

                            {% for k, val in nearby_disease_state %}
                            <input type="radio" name="survey_nearby_disease_state" id="id_survey_nearby_disease_state_{{ forloop.counter }}" value="{{ k }}" />
                            <label for="id_survey_nearby_disease_state_{{ forloop.counter }}">{{ val }}</label>
                            {% endfor %}

                            <p><em>If you want, you could also tag this tree and add it to AshTag.</em></p>

                        </fieldset>
                    </div>

                    <div class="survey-thanks">
                        <p><strong>Thank you for taking part. It will important for the project that you resurvey the tree in future. You will be contacted again to prompt you.</strong></p>
                        <p><strong>Remember to keep your eyes open for tolerant trees. If you find any, you can survey them and add them to AshTag.</strong></p>
                        <p>Read more at <a href="http://www.livingashproject.org.uk" target="_blank">LivingAshProject.org.uk</a> </p>
                    </div>

                </div>
            </div>


            <div class="form-row">
                <label for="id_notes">Leave a comment</label>
                <textarea cols="40" rows="8" name="notes" id="id_notes">{{ form.notes.value }}</textarea>
            </div><!--//form-row-->

            <div class="cta-btn-wrapper">
                <input class="button submit-sighting" type="submit" value="Submit" name="submit-sighting" />
                <div class="saved-for-later" style="display: none;"><span class="total">1</span> sighting(s) will be uploaded when you are back online</div>
            </div>
            
            <div class="submit-done-msgs" style="display: none;">
                <div class="online-msg">
                    <p class="loading-msg"><strong>Uploading sighting, please wait...</strong></p>
                    <p class="ajax-spinner"></p>
                </div>
                <div class="offline-msg">
                    <p><strong>Saved for later</strong></p>
                    <p>Come back here once you are online and your sighting will be uploaded automatically</p>
                </div>
            </div>
        </form><!--//submit-sighting-form-->
   
    </div><!--//at-content-->  

{% endblock page %}


