{% extends "core/jqm-page.html" %}
{% load thumbnail %}

{% block title %}Sighting{% endblock %}
{% block class %}sighting-page{% endblock %}
{% block id %}tree-page{% endblock %}

{% block page %}
    <div data-role="content" class="at-content" role="main">
        <div class="single-sighting-wrapper ui-texture-wrapper ui-shadow clearfix">
            
            <h2 class="heading">Tag: #{{ object.tag_number }}</h2>
            
            <div class="meta">
                <p>Last update on: {{ updates.latest.created }}</p>
                <p>Submitted on: {{ object.created }} {% if tagged %} by {{ object.creator|default:"a spotter" }}{% endif %}</p>
            </div><!--//meta-->

            <div class="gallery-thumb">
                <a href="">
                    {% thumbnail object.display_sighting.image IMG_LARGE crop='center' as thmb %}
                    <img src="{{ thmb.url }}" />
                    {% endthumbnail %}
                </a>
            </div><!--//gallery-thumb-->
            <div class="location-map">
                {% csrf_token %}
            </div>
            {% if not object.flagged %}
            <div class="report-button-wrapper">
                <a data-role="button" data-inline="true" data-icon="alert"
                    class="report-button" data-rel="popup" data-mini="true"
                    data-position-to="window" data-transition="pop"
                    href="#popupDialog"  data-flag-type="tree"
                    data-flag-id="{{ object.id }}">
                    Report this tree
                </a>
            </div>
            {% else %}
            <div class="flagged">This sighting has been reported as inappropriate.</div>
            {% endif %}
            <div class="comments">
                <h3>Comments and Updates</h3>
                <p>Intro blurb goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur imperdiet lacus, sed fringilla tellus luctus sed. In vitae congue arcu.</p>
                <ul class="comments-list">
                    {% for update in updates %}
                    <li class="ui-corner-all clearfix" id="sighting-{{ update.id }}">
                        
                        <div class="info">Spotted on {{ update.created }} by {{ update.creator|default:"a spotter" }}
                            {% if update.disease_state != None %}
                            <span class="disease_state disease_{{ update.disease_state }}">{{ update.get_disease_state_display }}</span>
                            {% endif %}
                        </div>
                        <span class="image-holder">
                            {% thumbnail update.image IMG_THUMB crop='center' as thmb %}
                            <img src="{{ thmb.url }}" />
                            {% empty %} {# no image means this is a comment or something. #}
                            <img src="{{ STATIC_URL }}/picture_of_a_person.png" alt="Person face" />
                            {% endthumbnail %}
                        </span><!--//image-holder-->
                        
                        <span class="details{% if not update.notes %} empty{% endif %}">
                            {{ update.notes|default:"No note was left with this update." }}</span>
                        {% if not update.flagged %}
                        <div class="flagging">
                            <a  href="#popupDialog"  class="report-link report-button" data-rel="popup"
                                data-position-to="window" data-transition="pop"
                                data-flag-type="sighting"
                                data-flag-id="{{ update.id }}">
                                Report this sighting
                            </a>
                        </div>
                        {% else %}
                        <div class="flagged">This update has been reported as inappropriate.</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% comment %}
                {# removed for now #}
                {% if request.user.is_authenticated and request.user == object.creator %}
                <form class="comments-form">
                    <label for="sighting-comment">Leave a comment/update:</label>
                    <textarea cols="40" rows="8" name="comment" id="sighting-comment"></textarea>
                </form>
                {% endif %}
                {% endcomment %}
            </div><!--//comments-->
        </div><!--//single-sighting-wrapper-->
    </div><!-- //at-content -->
    {% include 'sightings/report.html' %}
{% endblock page %}


