{% extends "core/jqm-page.html" %}
{% load thumbnail %}

{% block title %}Sighting{% endblock %}
{% block class %}sighting-page{% endblock %}
{% block id %}tree-page{% endblock %}

{% block page %}
    <div data-role="content" class="at-content" role="main">
        <div class="single-sighting-wrapper ui-texture-wrapper ui-shadow clearfix">
            <h2 class="heading">Tag: #{{ object.tag_number }}</h2>
            {% if not object.flagged %}
            <a data-role="button" data-inline="true" data-icon="alert"
                class="report-button" data-rel="popup"
                data-position-to="window" data-transition="pop"
                href="#popupDialog" data-mini="true" data-flag-type="tree"
                data-flag-id="{{ object.id }}">
                Report this tree
            </a>
            {% else %}
            <div class="flagged">This sighting has been reported as inappropriate.</div>
            {% endif %}
            <div class="meta">
                <p>Last update on: {{ updates.latest.created }}</p>
                <p>Submitted on: {{ object.created }} {% if tagged %} by {{ object.creator|default:"a spotter" }}{% endif %}</p>
            </div><!--//meta-->

            <div class="gallery-thumb">
                <a href="sighting-gallery.html">
                    {% thumbnail object.display_sighting.image '750x600' crop='center' as thmb %}
                    <img src="{{ thmb.url }}" />
                    {% endthumbnail %}
                </a>
            </div><!--//gallery-thumb-->
            <div class="location-map">
                {% csrf_token %}
            </div>
            <div class="comments">
                <h3>Comments and Updates</h3>
                <p>Intro blurb goes here lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur imperdiet lacus, sed fringilla tellus luctus sed. In vitae congue arcu.</p>
                <ul class="comments-list">
                    {% for update in updates %}
                    <li class="ui-corner-all" id="sighting-{{ update.id }}">
                        {% thumbnail update.image '150x150' crop='center' as thmb %}
                        <img src="{{ thmb.url }}" />
                        {% empty %} {# no image means this is a comment or something. #}
                        <img src="{{ STATIC_URL }}/picture_of_a_person.png" alt="Person face" />
                        {% endthumbnail %}
                        <span class="info">Spotted on {{ update.created }} by {{ update.creator|default:"a spotter" }}</span>
                        <span class="details{% if not update.notes %} empty{% endif %}">
                            {{ update.notes|default:"No note was left with this update." }}</span>
                        <div class="disease_state disease_{{ update.disease_state }}">{{ update.get_disease_state_display }}</div>
                        {% if not update.flagged %}
                        <a data-role="button" data-inline="true" data-icon="alert"
                            class="report-button" data-rel="popup"
                            data-position-to="window" data-transition="pop"
                            href="#popupDialog" data-mini="true" data-flag-type="sighting"
                            data-flag-id="{{ update.id }}">
                            Report this sighting
                        </a>
                        {% else %}
                        <div class="flagged">This update has been reported as inappropriate.</div>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% if request.user.is_authenticated and request.user == object.creator %}
                <form class="comments-form">
                    <label for="sighting-comment">Leave a comment/update:</label>
                    <textarea cols="40" rows="8" name="comment" id="sighting-comment"></textarea>
                </form>
                {% endif %}
            </div><!--//comments-->
        </div><!--//single-sighting-wrapper-->
    </div><!-- //at-content -->
    {% include 'sightings/report.html' %}
{% endblock page %}


