{% extends "core/jqm-page.html" %}

{% block title %}Login{% endblock %}
{% block class %}login-page{% endblock %}

{% block page %}

<div data-role="content" class="at-content" role="main">
    <form class="form login-form ui-shadow" action="{% url 'django.contrib.auth.views.login' %}" method="post" data-ajax="false">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% csrf_token %}

        {{ form.username.label_tag }}
        {{ form.username }}
        
        {{ form.password.label_tag }}
        {{ form.password }}

        {% comment %}
        <fieldset data-role="controlgroup">
            <input type="checkbox" id="remember-login" name="remember-login" />
            <label for="remember-login">Keep me logged in</label>
        </fieldset>
        {% endcomment %}

        <div class="cta-btn-wrapper">
            <input class="button login-submit" type="submit" value="Log In" name="login-submit" />
        </div>
        <div class="form-text-wrapper">
            <p class="reset-text"><a href="{% url 'auth_password_reset' %}" data-ajax="false">Forgot password?</a></p>
            <p class="signup-text">Don't have an account yet?<br /><a href="{% url 'registration_register' %}" >Sign up now</a></p>
        </div>
    </form><!--//login-form-->                            
</div><!--//at-content-->

{% endblock page %}
