{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block page %}
<div data-role="content" class="at-content" role="main">    
    <form class="form reset-password-form ui-shadow" method='post' action=''>{% csrf_token %}      
        {{ form }}
        <div class="cta-btn-wrapper">
            <input class="button" type='submit' value="Change password" />
        </div>
    </form><!--//reset-password-form-->             
</div><!--//at-content-->
{% endblock %}
