{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block page %}
<div data-role="content" class="at-content" role="main">    
    <form class="form reset-password-form ui-shadow" method='post' action=''>{% csrf_token %}
        <p>Forgot your password?  Enter your email in the form below and we'll send you
    instructions for creating a new one.</p>        
        {{ form }}
        <div class="cta-btn-wrapper">
            <input class="button" type='submit' value="Reset password" />
        </div>
    </form><!--//reset-password-form-->             
</div><!--//at-content-->
{% endblock %}
