    <div data-role="footer" class="at-footer">
        <div class="twitter-follow-wrapper">
        <a href="https://twitter.com/AshTag_Adapt" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AshTag_Adapt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div><!--//twitter-follow-wrapper-->               
        <ul class="site-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="supporters">
            <h3>Supported by:</h3>
            <ul class="logos clearfix">
                <li class="adap"><a rel="external" href="http://www.adaptlowcarbongroup.co.uk">Adapt Low Carbon Group</a></li>
                <li class="uea"><a rel="external" href="http://www.uea.ac.uk/">University of East Anglia</a></li>
            </ul>
        </div>
        
        <div class="credits">
            <p>Made by <a rel="external" href="http://uk.linkedin.com/pub/steve-pike/10/a71/884">Steve Pike</a> and <a rel="external" href="http://adamcharnock.com/">Adam Charnock</a></p>
            <p>Designed by <a rel="external" href="http://3rdwavemedia.com/">3rd Wave Media</a></p>
        </div>
        <small class="copyright">
            Copyright &copy; 2013 Ashtag.org
        </small>
    </div><!--//at-footer-->