<li class="buy-tags"><a href="{% url 'store:tagpacks' %}">Buy Tags</a></li>
<li class="submit-sighting"><a href="{% url 'sightings:submit' %}">Submit Sighting</a></li>
<li class="sightings"><a href="{% url 'sightings:map' %}">Sightings</a></li>
<li class="guide"><a href="{% url 'public:guide' %}">Identification Guide</a></li>
<li class="login if-anonymous"><a href="{% url 'auth_login' %}">Log in</a></li>
<li class="signup if-anonymous"><a href="{% url 'registration_register' %}">Sign up</a></li>
<li class="my-tags if-authenticated"><a href="{% url 'sightings:my-tags' %}">My tags</a></li>
<li class="logout if-authenticated"><a href="{% url 'auth_logout' %}" data-ajax="false">Logout</a></li>
