<!DOCTYPE html>
<html {% block manifest %}{% endblock %}>
    <head>
        <title>{% block title %}{% endblock %} - AshTag</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load compressed %}
        {% compressed_css 'commoncss' %}
        <script src="{{ STATIC_URL }}js/lib/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/lib/jquery.mobile-1.3.1.min.js" type="text/javascript" charset="utf-8"></script>
        {% compressed_js 'commonjs' %}

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>  
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114×114" href="{{ STATIC_URL }}images/apple-touch-icon-114×114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72×72" href="{{ STATIC_URL }}images/apple-touch-icon-72×72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}images/apple-touch-icon-57×57-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">
        
        <link rel="shortcut icon" href="images/favicon.ico">
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body class="anonymous">
        {% block content %}{% endblock %}
        {% if ENABLE_TRACKING_CODE %}
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35878991-3']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
        {% endif %}
    </body>
</html>
