<!DOCTYPE html>
{% load manifesto %}
<html manifest="{% manifest_url request.user.id %}">
    <head>
        <title>{% block title %}{% endblock %} - AshTag</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% load compressed %}
        {% compressed_css 'commoncss' %}
        {% compressed_js 'commonjs' %}

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>  
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114×114" href="{{ STATIC_URL }}images/apple-touch-icon-114×114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72×72" href="{{ STATIC_URL }}images/apple-touch-icon-72×72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ STATIC_URL }}images/apple-touch-icon-57×57-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}images/apple-touch-icon-precomposed.png">
        
        <link rel="shortcut icon" href="images/favicon.ico">
        {% block extra_head %}{% endblock extra_head %}
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>    
</html>
