{% extends "core/ashtag-base.html" %}

{% load tz_detect %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>
{% endblock %}

{% block content %}
<div data-role="page" data-theme="{% block theme %}a{% endblock %}" id="{% block id %}{% endblock %}"  class="{% block class %}{% endblock %}">
    <div id="updatesready">
        Updates are available. Please <a href="javascript:window.location.reload();">refresh this page</a>.
    </div>

    <div data-role="panel" id="menu-panel" data-display="reveal">
         <ul data-role="listview" data-icon="false" class="menu-list">
             <li><a href="{% url 'public:home' %}">Home</a></li>
             {% include 'core/includes/menu.html' %}
         </ul>
    </div><!-- /panel -->

    <div data-role="header" class="at-header">
        <h1 class="logo"><a href="#"><img src="{{ STATIC_URL }}images/ashtaglogo.png" /></a></h1>
        {% block no-page-title %}
        <h2 class="page-title">{% block page-title %}{% block title %}{% endblock %}{% endblock %}</h2>
        {% endblock %}
        <a href="#menu-panel" class="menu-button">Menu</a>
        <a href="{% url 'sightings:my-tags' %}" class="mytags-button">My Tags</a>
    </div><!--//at-header-->

    {% block page %}{% endblock %}

    {% include "core/includes/footer.html" %}
</div>

{% tz_detect %}
{% endblock %}
