<div class="cookies-block" id="cookies-block">
   <div class="cookies-block-inner">
       <p>Explain cookies lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla consequat imperdiet augue sed viverra. Aliquam sollicitudin quis lorem quis tempor.</p>
       <a href="#" class="continue-link close-cookies-panel" >Continue</a>
       <a href="#" class="close-button close-cookies-panel"  data-role="button" data-icon="delete" data-iconpos="notext" data-mini="true" data-inline="true" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" title="Close">Close</a>
   </div><!--//cookies-inner-->
</div><!--//cookies-->   