#map-page .map-key {
    background: #f5f5f5;
    border: 1px solid darken(#f5f5f5, 10%);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    max-width: 300px;
    box-sizing: 300px; 
    margin: 0 auto;
    margin-top: 1em;
}

#map-page .map-key ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#map-page .map-key ul li {
    list-style: none;
}

#map-page .map-key li.tagged {
    float: left;
}

#map-page .map-key li.untagged {
    float: right;
}
#map-page .map-key ul li img {
    vertical-align: middle;
    position: relative;
}
#map-page .map-key ul li.tagged img {
    width: 24px;
    height: 24px;
    top: -1px;
}
#map-page .map-key ul li.untagged img {
    width: 16px;
    height: 16px;
    top: -1px;
}

/* Showing menu text on menu icon (you can probably remove the '!important' when you merge these changes in) */
.menu-button {
    text-indent: 0px !important;
    background-position: 7px 7px !important;
    text-shadow: none !important;
    color: white  !important;
    padding-left: 22px !important;
}
.menu-button .ui-btn-inner {
    padding: 5px 9px 8px 10px !important;
}

/* We now alter the UI for anonymous/authenticated users using CSS */
body.authenticated .if-anonymous {
    display: none;
}
body.anonymous .if-authenticated {
    display: none;
}

/* Images on guide page were too wide on mobile devices */
.guide-figure img {
    max-width: 100%;
}

/* Disable elements we are not allows to show on ios apps, 
then show them if we are not on ios */
ul li.buy-tags { display: none; }
body.non-ios ul li.buy-tags { display: block; }