{% extends "core/jqm-page.html" %}

{% load currency_filters %}

{% block class %}order-thank-you-page{% endblock %}
{% block id %}order-thank-you-page{% endblock %}
{% block title %}Confirmation of order {{ order.number }}{% endblock title %}


{% block page %}
    <div data-role="content" class="at-content" role="main">
        <div class="thankyou-wrapper ui-texture-wrapper ui-shadow">
            <h2>Confirmation for order #{{ order.number }}</h2>
    
            <p>Your order has been placed and a confirmation email has ben sent - your order number is
            <strong>{{ order.number }}</strong></p>
            <p>Please make a note of this reference or print this page and quote it in any communication with us regarding your order.</p>
    
            <dl>
                <dt>Address</dt>
                <dd>
                    {% for field in order.shipping_address.active_address_fields %}
                    {{ field }}<br/>
                    {% endfor %}
                </dd>
                {% if order.shipping_address.phone_number %}
                <dt>Contact number</dt>
                <dd>{{ order.shipping_address.phone_number }}</dd>
                {% endif %}
                {% if order.shipping_address.notes %}
                <dt>Shipping notes</dt>
                <dd>{{ order.shipping_address.notes }}</dd>
                {% endif %}
                <dt>Shipping method</dt>
                <dd>{{ order.shipping_method }}</dd>
            </dl>
    
            <h3>Payment</h3>
            {% for source in order.sources.all %}
            {{ source }}
            {% empty %}
            No payment was required for this order.
            {% endfor %}
    
            <h3>Order details</h3>
            <div class="order-details-wrapper">
            {% for line in order.lines.all %}
                <h4>{{ line.description }}</h4>
                <p>Estimated dispatch date: {{ line.est_dispatch_date|default:"-" }}</p>
                <p>Quantity: {{ line.quantity }}</p>
                <p>Cost: {{ line.line_price_before_discounts_incl_tax|currency }}</p>
            {% endfor %}
    
            <h4>Basket</h4>
    
            <table class="basket-totals">
                {% with discounts=order.basket_discounts %}
                {% if discounts %}
                    <tr>
                        <td class="total">Basket total (before discounts)</td>
                        <td class="align-left">{{ order.basket_total_before_discounts_incl_tax|currency }}</td>
                    </tr>
                    {% for discount in discounts %}
                    <tr>
                        <td class="total"><span>Discount</span> {{ discount.offer }}</td>
                        <td class="align-left">- {{ discount.amount|currency }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th class="total">Basket total (after discounts)</th>
                        <th class="align-left">{{ order.basket_total_incl_tax|currency }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="total">Basket total</th>
                        <th class="align-left">{{ order.basket_total_incl_tax|currency }}</th>
                    </tr>
                {% endif %}
                {% endwith %}
                {% comment %}
                <tr>
                    <th class="heading" colspan="2"><h4>Shipping</h4></th>
                </tr>
                {% endcomment %}
                <tr>
                    <td class="total">Shipping method</td>
                    <td class="align-left">{{ order.shipping_method }}</td>
                </tr>
                {% if order.has_shipping_discounts %}
                    <tr>
                        <td class="total">Shipping charge (before discounts)</td>
                        <td class="align-left">{{ order.shipping_before_discounts_incl_tax|currency }}</td>
                    </tr>
                    {% for discount in order.shipping_discounts %}
                    <tr>
                        <td class="total"><span>Discount</span> {{ discount.offer }}</td>
                        <td class="align-left">- {{ discount.amount|currency }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th class="total">Shipping charge (after discounts)</th>
                        <th class="align-left">{{ order.shipping_incl_tax|currency }}</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="total">Shipping charge</th>
                        <th class="align-left">{{ order.shipping_incl_tax|currency }}</th>
                    </tr>
                {% endif %}
    
                {% with actions=order.post_order_actions %}
                    {% if actions %}
                        <tr>
                            <th colspan="2">&nbsp;</th>
                        </tr>
                        <tr>
                            <th class="heading" colspan="2"><h4>Post order actions</h4></th>
                        </tr>
                        {% for action in order.post_order_actions %}
                        <tr>
                            <td colspan="2"><p>{{ action.message }}</p></td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <tr>
                    <th colspan="2">&nbsp;</th>
                </tr>
                <tr class="order-total-row">
                    <th class="total"><h4>Order total</h4></th>
                    <td class="align-left"><h4>{{ order.total_incl_tax|currency }}</h4></td>
                </tr>
    
            </table>
    
    
            {% if not order.user %}
                    <h2>Tracking your order</h2>
                <p>You can
                    <a href="{% url 'customer:anon-order' order.number order.verification_hash %}">track the status of your order</a>.
                </p>
            {% endif %}
            
            </div><!--//order-details-wrapper-->
    
            <div>
               
                <a class="print-button" data-role="button" data-mini="true" data-inline="true" onclick="window.print()" href="#">Print this page</a>
                <a class="home-button" data-role="button" data-mini="true" data-inline="true" href="/">Back to home page</a>
               
            </div>
        </div><!--//thankyou-wrapper-->
    </div>
{% endblock page %}
