{% extends "core/jqm-page.html" %}

{% load thumbnail %}
{% load currency_filters %}

{% block class %}basket-page{% endblock %}
{% block id %}basket-page{% endblock %}
{% block title %}Basket{% endblock %}

{% block page %}
            
    <div data-role="content" class="at-content" role="main">
        <div class="basket-wrapper ui-texture-wrapper ui-shadow">  
        {% if basket.is_empty %}
        <p class="basket-empty-text">Your basket is empty.</p>
        <div class="cta-btn-wrapper">
        <a data-role="button" class="buy-tags" href="{% url 'store:tagpacks' %}">Buy tags</a>
        </div>
        {% else %}
            <form action="{% url 'basket:summary' %}" method="post" data-ajax="false">
                {% csrf_token %}
                {{ formset.management_form }}
    
                {% for form in formset %}
                <div class="basket-item">
                    {{ form.id }}
                    <div class="item-info">
                        <h4 class="item-title">
                            {{ form.instance.description }}
                        </h4>
                        <p class="item-price">
                            (Price: {{ form.instance.unit_price_incl_tax|currency }})
                        </p>
                    </div><!--//item-info-->
                    
                    <div class="{% if form.errors %}error{% endif %}">
                        <div class="quantity-box">
                            <label class="quantity-label">Quantity</label>
                            {{ form.quantity }}
                        </div><!--//quantity-box-->
                        <div class="basket-actions">
                            <a href="#" data-role="button" data-inline="true" data-mini="true" data-icon="delete" data-id="{{ forloop.counter0 }}" class="remove">Remove</a>
                            <button data-role="button" data-inline="true" data-icon="refresh" data-mini="true" type="submit">Update</button>                
                            
                        </div><!--//basket-actions-->
                        <div style="display:none">
                            {{ form.DELETE }}
                        </div>
                        {% for field_errors in form.errors.values %}
                            {% for error in field_errors %}
                            <div class="error">{{ error }}</div>
                            {% endfor %}
                        {% endfor %}
                    </div>                   
                </div><!--//basket-item-->            
                {% endfor %}
            </form>
    
            <div class="totals clearfix">
                <h2 class="totals-label">Totals</h2>
                {% include 'basket/partials/basket_totals.html' with editable=1 %}
            </div>
    
    
            <div class="form-actions">
                <a class="paypal-button" href="{% url 'paypal-redirect' %}" data-ajax="false"><img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" ></a>
                {% comment %}
                <a href="{% url 'checkout:index' %}">Proceed to checkout</a>
                {% endcomment %}
            </div>
    
        {% endif %}
        </div><!--//basket-wrapper-->

    </div><!--//at-content-->

{% endblock page %}