{% extends "core/jqm-page.html" %}

{% block class %}about-page{% endblock %}
{% block title %}About{% endblock %}

{% block page %}
            
    <div data-role="content" class="at-content" role="main">
        <div class="at-entry ui-texture-wrapper ui-shadow">

            <p>Ash dieback disease has been rapidly spreading across the country since first appearing in October 2012, and sightings have been confirmed from Edinburgh to Penzance. The race is now on to help scientists understand how the disease spreads and to identify potentially resistant trees.</p>

            <p>To reach these goals, we need you to help us tag the UK’s ash trees. We’ve produced a <a href="{% url 'store:tagpacks' %}">simple tagging pack</a> that will enable you to physically tag any ash tree, <em>diseased or otherwise</em>, with a numbered aluminium AshTag and then <a href="https://en.wikipedia.org/wiki/Geotagging">geo-tag</a> it to become the ‘steward’ of that tree. </p>

            <p>You can track the progress of your tree(s) over time as you and others submit photos of them. You can also use the live map of all tagged trees to go ‘AshTag hunting’, and see how many tagged trees you can find. </p>

            <p>The photo gallery users will create for each tagged  ash tree will help scientists to identify how the disease progresses and, crucially, the characteristics of trees which don’t get the disease and appear to be less susceptible. </p>

            <p>AshTag was developed by Adapt and the University of East Anglia in 2012. Ownership of AshTag was transferred to the Sylva Foundation in 2015. Sylva and Adapt had been collaborating already under the Defra-funded Living Ash Project (www.livingashproject.org.uk). Tree data collected by AshTag will be shared with experts working within the Living Ash Project to secure a future for ash trees in Britain.</p>

        </div><!--//at-entry-->               
    </div><!--//at-content-->

{% endblock page %}
