<!DOCTYPE html>
<html>
    <head>  
      <title>About</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/themes/ashtag-theme.css" />             
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" /> 
      <link rel="stylesheet" href="css/ashtag-custom.css" />  
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>      
      <link rel="shortcut icon" href="images/favicon.ico">
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
      <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>     
    </head>

    <body>
        <div data-role="page" data-theme="a"  class="about-page">       
            <div data-role="panel" id="menu-panel" data-display="reveal">
                 <ul data-role="listview" data-icon="false" class="menu-list">   
                     <li><a href="index.html">Home</a></li>
                     <li><a href="buy-tags.html">Buy Tags</a></li>
                     <li><a href="submit-sighting.html">Submit Sightings</a></li>
                     <li><a href="sightings.html">All Sightings</a></li>
                     <li><a href="about.html">About</a></li>
                     <li><a href="contact.html">Contact</a></li>
                     <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
                     <li><a href="privacy.html">Privacy Policy</a></li>
                     <li><a href="login.html">Log in</a></li>
                     <li><a href="signup.html">Sign up</a></li>
                 </ul>
            </div><!-- /panel -->     
            
            <div data-role="header" class="at-header">
                <h1 class="logo"><a href="#"><img src="images/ashtaglogo.png" /></a></h1>
                <h2 class="page-title">About</h2>
                <a href="#menu-panel" class="menu-button">
                Menu
                </a>
            </div><!--//at-header-->
                    
            <div data-role="content" class="at-content" role="main">
                <div class="at-entry ui-texture-wrapper ui-shadow">
                    <p>Chalara fraxinea is a disease that has decimated Ash tree species throughout Northern Europe, already affecting over 90% of Ash trees in Denmark and Sweden and is present as far as Belgium. Until recently the UK was unaffected, but it now seems that imports of Ash saplings have released the disease into the wild, and at least two outbreaks have been spotted in wild woodland in Norfolk & Suffolk.</p>
                    <p>This is very bad news indeed. There are about 80m native Ash trees, making up 30% of our indigenous deciduous woodland, so there are very serious ecological consequences if the disease is not contained.</p>
                    <p>Spores can spread about 20 miles, and it could be as bad as the Dutch elm disease which hit Britain in the 1970s and all but wiped out that native tree species from our landscape. More about the science here.</p>
                    <p>Norman Starks, the Woodland Trust's operations director, told The Guardian that a loss on the scale already seen in Denmark could have a devastating effect on Britain's countryside. "It would be an environmental disaster," he said. "The impact on woodland biodiversity would be huge."</p>
                </div><!--//at-entry-->               
            </div><!--//at-content-->
            
            <div data-role="footer" class="at-footer">
                <div class="twitter-follow-wrapper">
                <a href="https://twitter.com/AshTag_Adapt" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AshTag_Adapt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div><!--//twitter-follow-wrapper-->               
                <ul class="site-links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="supporters">
                    <h3>Supported by:</h3>
                    <ul class="logos clearfix">
                        <li class="adap"><a rel="external" href="http://www.adaptlowcarbongroup.co.uk">Adapt Low Carbon Group</a></li>
                        <li class="uea"><a rel="external" href="http://www.uea.ac.uk/">University of East Anglia</a></li>
                    </ul>
                </div>
                
                <div class="credits">
                    <p>Made by <a rel="external" href="http://uk.linkedin.com/pub/steve-pike/10/a71/884">Steve Pike</a> and <a rel="external" href="http://adamcharnock.com/">Adam Charnock</a></p>
                    <p>Designed by <a rel="external" href="http://3rdwavemedia.com/">3rd Wave Media</a></p>
                </div>
                <small class="copyright">
                    Copyright &copy; 2013 Ashtag.org
                </small>
            </div><!--//at-footer-->                       
            
        </div><!--//about-page-->
    </body>    
</html>