{% extends "core/jqm-page.html" %}

{% block class %}about-page{% endblock %}
{% block title %}About{% endblock %}

{% block page %}
            
    <div data-role="content" class="at-content" role="main">
        <div class="at-entry ui-texture-wrapper ui-shadow">
            <p>Chalara fraxinea is a disease that has decimated Ash tree species throughout Northern Europe, already affecting over 90% of Ash trees in Denmark and Sweden and is present as far as Belgium. Until recently the UK was unaffected, but it now seems that imports of Ash saplings have released the disease into the wild, and at least two outbreaks have been spotted in wild woodland in Norfolk &amp; Suffolk.</p>
            <p>This is very bad news indeed. There are about 80m native Ash trees, making up 30% of our indigenous deciduous woodland, so there are very serious ecological consequences if the disease is not contained.</p>
            <p>Spores can spread about 20 miles, and it could be as bad as the Dutch elm disease which hit Britain in the 1970s and all but wiped out that native tree species from our landscape. More about the science here.</p>
            <p>Norman Starks, the Woodland Trust's operations director, told The Guardian that a loss on the scale already seen in Denmark could have a devastating effect on Britain's countryside. "It would be an environmental disaster," he said. "The impact on woodland biodiversity would be huge."</p>
        </div><!--//at-entry-->               
    </div><!--//at-content-->

{% endblock page %}