{% extends "core/jqm-page.html" %}

{% block title %}Contact{% endblock %}
{% block class %}contact-page{% endblock %}

{% block page %}
                
        <div data-role="content" class="at-content" role="main">
            <div class="at-entry ui-texture-wrapper ui-shadow">
                <p>
                    <strong>Ashtag project feedback</strong> including problems and suggestions, 
                    please email <a href="mailto:ashtag@sylva.org.uk">ashtag@sylva.org.uk</a>
                </p>

                <p>
                    <strong>Press office contact for media enquiries: </strong>
                    Dr Gabriel Hemery, Sylva Foundation on 01865 408018 and <a href="mailto:ashtag@sylva.org.uk">ashtag@sylva.org.uk</a>
                </p>

                <p>
                    You can also find the AshTag open source project on <a href="https://github.com/adapt/ashtag/">GitHub</a>.
                </p>
            </div><!--//at-entry-->               
        </div><!--//at-content-->

{% endblock %}
