{% extends "core/jqm-page.html" %}

{% block title %}Contact{% endblock %}
{% block class %}contact-page{% endblock %}

{% block page %}
                
        <div data-role="content" class="at-content" role="main">
            <div class="at-entry ui-texture-wrapper ui-shadow">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper est sit amet lacinia ornare. Sed eget purus mauris. Cras facilisis sem non blandit euismod. Aenean at mi et felis rutrum egestas ac nec est. Cras in urna pellentesque, venenatis dui id, dapibus risus. Aenean pharetra ante ut posuere elementum. Donec tristique felis ac ante vestibulum faucibus. Integer consectetur ultricies tempor. Sed viverra, ipsum at ullamcorper rutrum, purus ipsum porttitor est, vel ullamcorper lectus massa et eros. In est velit, scelerisque eu scelerisque at, sodales vitae dolor. Vestibulum viverra fermentum hendrerit. Nullam at eros lorem.</p>

                <p>Phasellus accumsan augue et turpis consectetur mollis. Sed consequat congue ipsum. Ut a mauris nibh. Etiam et diam odio. Donec interdum, ligula eu vehicula imperdiet, neque diam luctus metus, ut cursus quam nulla eu diam. Mauris non risus elementum, sagittis orci quis, scelerisque justo. Nulla tristique luctus urna, sit amet adipiscing mauris dignissim sed. Nam sit amet scelerisque arcu, eu vehicula quam. Maecenas iaculis ultrices ipsum a porttitor. Integer vel scelerisque metus.</p>

                <p>Nam et nunc sodales, porttitor tellus at, imperdiet sapien. Sed elementum auctor luctus. Proin vitae auctor nunc. Vestibulum eu nisl consequat, elementum lectus at, ornare magna. Donec elementum interdum dolor, nec viverra urna. Nulla et tempor leo. Duis non vehicula ipsum. Nullam ullamcorper accumsan nulla, a pellentesque sem. Integer et lorem tincidunt, interdum enim vitae, eleifend libero. Mauris id nisi eget nibh dignissim aliquam. Donec fringilla vestibulum magna id pulvinar. Donec pretium vehicula augue, eu dictum lacus venenatis at. Duis tincidunt nec quam eu molestie.</p>
            </div><!--//at-entry-->               
        </div><!--//at-content-->

{% endblock %}