{% extends "core/jqm-page.html" %}

{% block title %}Ash Dieback Identification Guide{% endblock %}
{% block class %}guide-page{% endblock %}

{% block page %}
                
        <div data-role="content" class="at-content" role="main">
            <div class="at-entry ui-texture-wrapper ui-shadow">

                <h3>Be sure it's an ash tree</h3>

                <div class="guide-figure">
                    <img src="{{ STATIC_URL}}images/guide/black_ash_buds_October.jpg">
                    <div class="credit">Photo credit: Iben Margrete Thomson</div>
                </div>

                <p>The common Ash (Fraxinus excelsior) is the fourth most common tree in Britain, and is easy to identify. It has leaves with between six and twelve pairs of oval leaflets. Each leaflet has irregular teeth. Like all deciduous trees, leaves are shed in winter, but the Ash is still unmistakeable by its black buds at the end of each shoot, as shown in the picture. Ash can grow to around 30m tall, but many are smaller and it can also be coppiced.</p>
                 
                <h3>Identifying ash dieback</h3>

                <div class="guide-figure">
                    <img src="{{ STATIC_URL }}images/guide/Chalara_Golden_wood2.jpg">
                    <div class="credit">Photo credit: Forestry Commission</div>
                </div>

                <h4>Does the tree have dark scars on the trunk?</h4>

                <p>The fungus causes lesions on the trunk/bark/branches at certain point of the life cycle. They may be dark if new, or lighter in colour if older. Most often they are centred around a small shoot which itself has died, as in the picture. Lesions are otherwise unusual in Ash trees and so this is a very telltale sign.</p>
                 
                <h4>Does the tree have scars on its smaller branches?</h4>

                <div class="guide-figure">
                    <img src="{{ STATIC_URL }}images/guide/photo_2.jpg">
                    <div class="credit">Photo credit: Forestry Commission</div>
                </div>

                <p>You may see similar scars on small branches like this one</p>
                 
                <h4>Is the top of the tree dead or dying?</h4>

                <div class="guide-figure">
                    <img src="{{ STATIC_URL }}images/guide/ash_dieback_dead_top_October_DK_2008_IMT.jpg">
                    <div class="credit">Photo credit: Iben Margrete Thomson</div>
                </div>

                <p>Another characteristic sign of the die back fungus - the top part of this tree has died, although the lower part looks OK. This happens because the fungus enters through the leaves in the crown of the tree.</p>
                 
                <h4>Is there dieback on shed leaves?</h4>

                <div class="guide-figure"><img src="{{ STATIC_URL }}images/guide/ash_leaf_stalk_infection_on_shed_leaves_October_DK_2006_IMT.jpg"></div>

                <p>If the leaves have fallen, you can see distinctive discolouration, especially on the underside. Note the brown discolouration of the leaf stalk, which may also be on the central vein of the leaflet.</p>

                <h3>Video guide</h3>

                <div class="video-wrapper">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/8sI7hgFZ-4g?rel=0" frameborder="0" allowfullscreen></iframe>
                    <div class="credit">Video credit: Forestry Commission</div>
                </div>


            </div><!--//at-entry-->               
        </div><!--//at-content-->

{% endblock %}