{% extends "core/jqm-page.html" %}

{% block title %}Home{% endblock %}
{% block class %}home-page{% endblock %}
{% block no-page-title %}{% endblock %}

{% block page %}
            
    <div data-role="content" class="at-content" role="main">
        <div class="at-intro">
            <p>Help identify ash trees with dieback disease</p>
        </div><!--//at-intro-->
        <ul data-role="listview" data-inset="true" class="home-listview" >
            <li class="login"><a href="{% url 'auth_login' %}">Log in</a></li>
            <li class="signup"><a href="{% url 'registration_register' %}">Sign up</a></li>
            <li class="buy-tags"><a href="{% url 'store:tagpacks' %}">Buy Tags</a></li>
            <li class="submit-sighting"><a href="{% url 'sightings:submit' %}">Submit Sighting</a></li>
            <li class="sightings"><a href="{% url 'sightings:map' %}">Sightings</a></li>
        </ul>                
    </div><!--//at-content--> 

{% endblock page %}


