<!DOCTYPE html>
<html>
    <head>  
      <title>Privacy</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="css/themes/ashtag-theme.css" />             
      <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" /> 
      <link rel="stylesheet" href="css/ashtag-custom.css" />  
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>      
      <link rel="shortcut icon" href="images/favicon.ico">
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> 
      <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>     
    </head>

    <body>
        <div data-role="page" data-theme="a"  class="privacy-page">       
            <div data-role="panel" id="menu-panel" data-display="reveal">
                 <ul data-role="listview" data-icon="false" class="menu-list">   
                     <li><a href="index.html">Home</a></li>
                     <li><a href="buy-tags.html">Buy Tags</a></li>
                     <li><a href="submit-sighting.html">Submit Sightings</a></li>
                     <li><a href="sightings.html">All Sightings</a></li>
                     <li><a href="about.html">About</a></li>
                     <li><a href="contact.html">Contact</a></li>
                     <li><a href="terms-and-conditions.html">Terms &amp; Conditions</a></li>
                     <li><a href="privacy.html">Privacy Policy</a></li>
                     <li><a href="login.html">Log in</a></li>
                     <li><a href="signup.html">Sign up</a></li>
                 </ul>
            </div><!-- /panel -->     
            
            <div data-role="header" class="at-header">
                <h1 class="logo"><a href="#"><img src="images/ashtaglogo.png" /></a></h1>
                <h2 class="page-title">Privacy Policy</h2>
                <a href="#menu-panel" class="menu-button">
                Menu
                </a>
            </div><!--//at-header-->
                    
            <div data-role="content" class="at-content" role="main">
                <div class="at-entry ui-texture-wrapper ui-shadow">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ullamcorper est sit amet lacinia ornare. Sed eget purus mauris. Cras facilisis sem non blandit euismod. Aenean at mi et felis rutrum egestas ac nec est. Cras in urna pellentesque, venenatis dui id, dapibus risus. Aenean pharetra ante ut posuere elementum. Donec tristique felis ac ante vestibulum faucibus. Integer consectetur ultricies tempor. Sed viverra, ipsum at ullamcorper rutrum, purus ipsum porttitor est, vel ullamcorper lectus massa et eros. In est velit, scelerisque eu scelerisque at, sodales vitae dolor. Vestibulum viverra fermentum hendrerit. Nullam at eros lorem.</p>

<p>Phasellus accumsan augue et turpis consectetur mollis. Sed consequat congue ipsum. Ut a mauris nibh. Etiam et diam odio. Donec interdum, ligula eu vehicula imperdiet, neque diam luctus metus, ut cursus quam nulla eu diam. Mauris non risus elementum, sagittis orci quis, scelerisque justo. Nulla tristique luctus urna, sit amet adipiscing mauris dignissim sed. Nam sit amet scelerisque arcu, eu vehicula quam. Maecenas iaculis ultrices ipsum a porttitor. Integer vel scelerisque metus.</p>

<p>Nam et nunc sodales, porttitor tellus at, imperdiet sapien. Sed elementum auctor luctus. Proin vitae auctor nunc. Vestibulum eu nisl consequat, elementum lectus at, ornare magna. Donec elementum interdum dolor, nec viverra urna. Nulla et tempor leo. Duis non vehicula ipsum. Nullam ullamcorper accumsan nulla, a pellentesque sem. Integer et lorem tincidunt, interdum enim vitae, eleifend libero. Mauris id nisi eget nibh dignissim aliquam. Donec fringilla vestibulum magna id pulvinar. Donec pretium vehicula augue, eu dictum lacus venenatis at. Duis tincidunt nec quam eu molestie.</p>
                </div><!--//at-entry-->               
            </div><!--//at-content-->
            
            <div data-role="footer" class="at-footer">
                <div class="twitter-follow-wrapper">
                <a href="https://twitter.com/AshTag_Adapt" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AshTag_Adapt</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div><!--//twitter-follow-wrapper-->               
                <ul class="site-links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="supporters">
                    <h3>Supported by:</h3>
                    <ul class="logos clearfix">
                        <li class="adap"><a rel="external" href="http://www.adaptlowcarbongroup.co.uk">Adapt Low Carbon Group</a></li>
                        <li class="uea"><a rel="external" href="http://www.uea.ac.uk/">University of East Anglia</a></li>
                    </ul>
                </div>
                
                <div class="credits">
                    <p>Made by <a rel="external" href="http://uk.linkedin.com/pub/steve-pike/10/a71/884">Steve Pike</a> and <a rel="external" href="http://adamcharnock.com/">Adam Charnock</a></p>
                    <p>Designed by <a rel="external" href="http://3rdwavemedia.com/">3rd Wave Media</a></p>
                </div>
                <small class="copyright">
                    Copyright &copy; 2013 Ashtag.org
                </small>
            </div><!--//at-footer-->                       
            
        </div><!--//privacy-page-->
    </body>    
</html>