{% extends "core/jqm-page.html" %}

{% block title %}Tagging Video Guide{% endblock %}
{% block class %}tagging-video-page{% endblock %}

{% block page %}
                
        <div data-role="content" class="at-content" role="main">
            <div class="at-entry ui-texture-wrapper ui-shadow">

                    <div class="video-wrapper">
                        <iframe width="560" height="315" src="//www.youtube.com/embed/8sI7hgFZ-4g?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>

            </div><!--//at-entry-->               
        </div><!--//at-content-->

{% endblock %}