{% extends "core/jqm-page.html" %}

{% load thumbnail %}
{% load currency_filters %}

{% block class %}preview-order-page{% endblock %}
{% block id %}preview-order-page{% endblock %}
{% block title %}Preview order{% endblock %}

{% block page %}
    
    <div data-role="content" class="at-content" role="main">

        {% if shipping_address %}
            <h4>Shipping Address</h4>
            <p>
                {% for field in shipping_address.active_address_fields %}
                {{ field }}<br/>
                {% endfor %}
            </p>
            {% if shipping_address.phone_number %}
                <p>Contact number: {{ shipping_address.phone_number }}</p>
            {% endif %}

            {% if shipping_address.notes %}
                <p>Shipping notes</p>
                <p>{{ shipping_address.notes|linebreaks }}</p>
            {% endif %}

            <h4>Shipping method</h4>
            <p>{{ shipping_method.name }}
                {% if shipping_method.description %}
                - {{ shipping_method.description }}
                {% endif %}
            </p>
        </dl>

        {% comment %}
        <div class="alert-actions">
            <a href="{% url 'checkout:shipping-address' %}" class="btn">Change shipping address</a>
        </div>
        {% endcomment %}

        {% else %}
            <p>No shipping is required for this order</p>
        {% endif %}

        <h2>Payment Method</h2>
        <p>PayPal Express Checkout</p>
        <p>PayPal user: {{ paypal_user_email }}</p>
        <p>Amount: {{ paypal_amount|currency }}</p>

        <h3>Please review the information above, then click "Place Order"</h3>

        <form method="post" action="{% url 'paypal-place-order' %}" data-ajax="false">
            {% csrf_token %}
            <input type="hidden" name="payer_id" value="{{ payer_id }}" />
            <input type="hidden" name="token" value="{{ token }}" />
            <div class="form-actions">
                <input id='place-order' type="submit" value="Place order" class="pull-right btn btn-primary btn-large js-disable-on-click" />
            </div>
        </form>
    </div>

{% endblock page %}